<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
	  data-namespace-typo3-fluid="true">

<f:layout name="Main"/>

<f:section name="PageContent">

	<main class="main-content">

		<f:format.raw>{Content}</f:format.raw>

		<f:if condition="{data.tx_csseo_no_index} < 1">
			<f:comment>Shariff einbinden?</f:comment>
		</f:if>

	</main>

</f:section>

</html>
