<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">

<div class="row gridelement{f:if(condition:'{data.flexform_collapse}', then:' collapse')}{f:if(condition:'{data.flexform_equalHeight}', then:' equalHeight')}{f:if(condition:'{data.flexform_fullViewportWidth}', then:' fullWidth')}">
    <div class="small-12
        {f:if(condition:'{data.flexform_columnType} == \'cols-1-1\'', then:' medium-6 ')}
        {f:if(condition:'{data.flexform_columnType} == \'cols-1-2\'', then:' medium-4 ')}
        {f:if(condition:'{data.flexform_columnType} == \'cols-2-1\'', then:' medium-8 ')}
        {f:if(condition:'{data.flexform_columnType} == \'cols-1-1-1\'', then:' medium-4 ')}
        {f:if(condition:'{data.flexform_columnType} == \'cols-1-1-1-1\'', then:' medium-3 ')}
        columns">
        <f:format.raw>{data.tx_gridelements_view_columns.11}</f:format.raw>
    </div>

    <f:if condition="{data.tx_gridelements_view_columns.13}">
    <div class="small-12
        {f:if(condition:'{data.flexform_columnType} == \'cols-1-1-1\'', then:' medium-4 ')}
        {f:if(condition:'{data.flexform_columnType} == \'cols-1-1-1-1\'', then:' medium-3 ')}
        columns">
        <f:format.raw>{data.tx_gridelements_view_columns.13}</f:format.raw>
    </div>
    </f:if>

    <f:if condition="{data.tx_gridelements_view_columns.14}">
    <div class="small-12 medium-3 columns">
        <f:format.raw>{data.tx_gridelements_view_columns.14}</f:format.raw>
    </div>
    </f:if>

    <div class="small-12
        {f:if(condition:'{data.flexform_columnType} == \'cols-1-1\'', then:' medium-6 ')}
        {f:if(condition:'{data.flexform_columnType} == \'cols-1-2\'', then:' medium-8 ')}
        {f:if(condition:'{data.flexform_columnType} == \'cols-2-1\'', then:' medium-4 ')}
        {f:if(condition:'{data.flexform_columnType} == \'cols-1-1-1\'', then:' medium-4 ')}
        {f:if(condition:'{data.flexform_columnType} == \'cols-1-1-1-1\'', then:' medium-3 ')}
        columns">
        <f:format.raw>{data.tx_gridelements_view_columns.12}</f:format.raw>
    </div>
</div>

</f:section>


<f:comment>
    Variablen:
    * columns-grid-{data.tx_gridelements_backend_layout}

</f:comment>

</html>
