<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Header"><f:comment>We don't want to output the headers of GE-CE here, since they were shown twice.</f:comment></f:section>

<f:section name="Main">

	<f:comment>This templates is used to provide necessary functionality for external processed content and could be used across multiple sources, for example the frontend login content element.</f:comment>
	<f:if condition="{content}">
		<f:then>{content -> f:format.raw()}</f:then>
		<f:else><f:cObject typoscriptObjectPath="tt_content.{data.CType}.20" data="{data}" table="tt_content" /></f:else>
	</f:if>

</f:section>
</html>
