<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Offer" />

<f:section name="Header"><f:comment>We don't want to output the headers of this gridelement here</f:comment></f:section>

<f:section name="Main">

	  <div class="columns small-12 medium-6 noPadLeft">

			<h2 class="rooms">{data.header}</h2>
			<dl class="meta">
				<dt>Standort:</dt>
					<dd>{data.flexform_location}</dd>
				<dt>Wohnung:</dt>
					<dd>{data.flexform_flat}</dd>
				<dt>Lage:</dt>
					<dd>{data.flexform_position}</dd>
				<dt>Größe:</dt>
					<dd><span class="size"><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{data.flexform_size}</f:format.number></span> m<sup>2</sup></dd>
			</dl>

			<ul class="tabs" data-responsive-accordion-tabs="accordion medium-tabs" id="offer-{data.uid}-tabs">
				<li class="tabs-title is-active"><a href="#panel-{data.uid}-1" aria-selected="true">Ausstattung</a></li>
				<li class="tabs-title"><a href="#panel-{data.uid}-2">Lage</a></li>
				<f:comment><li class="tabs-title"><a href="#panel-{data.uid}-3">Kosten</a></li></f:comment>
			</ul>

			<div class="tabs-content" data-tabs-content="offer-{data.uid}-tabs">
				<div class="tabs-panel is-active" id="panel-{data.uid}-1">
					<h3>Ausstattung der Wohnung</h3>
					<f:format.html>{data.flexform_features}</f:format.html>
				</div>
				<div class="tabs-panel" id="panel-{data.uid}-2">
					<h3>Lage</h3>
					<f:format.html>{data.flexform_locationDesc}</f:format.html>
				</div>
	<f:comment>
				<div class="tabs-panel" id="panel-{data.uid}-3">
					<h3>Mietpreis</h3>
					<f:format.html>{data.flexform_priceDesc}</f:format.html>
				</div>
	</f:comment>
			</div>
		</div>
	  <div class="columns small-12 medium-6 noPadRight">
		  <f:format.raw>{data.tx_gridelements_view_columns.11}</f:format.raw>
	  </div>

	<div class="columns small-12 frame-space-before-medium">
		<p><a class="button secondary" href="{data.flexform_expose}" target="_blank">Exposé herunterladen</a>&nbsp;<f:link.page pageUid="95" class="button" additionalParams="{vendor: '{data.flexform_provider}', flat: '{data.flexform_flat}'}">Jetzt anfragen</f:link.page></p>
	</div>

	<hr class="columns small-12 frame-space-before-medium frame-space-after-medium">

</f:section>
</html>
