<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	data-namespace-typo3-fluid="true">

<f:if condition="{data.uid} == {pidHomepage}">
	<f:comment>only add smoothScroll on homepage, otherwise problems witch anchors appear.</f:comment>
	<v:variable.set name="smoothScroll" value="{data-smooth-scroll: ''}" />
</f:if>

<div id="page">

	<div class="top-bar-container" data-sticky-container>
		<div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
			<nav class="row top-bar topbar-responsive">
				<div class="top-bar-title">
					<span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
						<button class="menu-icon" type="button" data-toggle></button>
					</span>
					<f:link.page class="topbar-responsive-logo" pageUid="{pidHomepage}" title="zur Startseite">
						<f:image src="{publicPath}Images/logo.png" alt="Parkviertel Halle Logo" />
					</f:link.page>
				</div>
				<div id="topbar-responsive" class="topbar-responsive-links">
					<div class="top-bar-right">
						<ul class="menu vertical medium-horizontal">

							<li>
								<f:link.page pageUid="{pidHomepage}" section="kinderbuehne" title=""
									additionalAttributes="{v:variable.get(name: 'smoothScroll')}">Kinderbühne
								</f:link.page>
							</li>
							<li>
								<f:link.page pageUid="{pidHomepage}" section="themen" title=""
									additionalAttributes="{v:variable.get(name: 'smoothScroll')}">Themen
								</f:link.page>
							</li>
							<li>
								<f:link.page pageUid="{pidHomepage}" section="bewerbung" title=""
									additionalAttributes="{v:variable.get(name: 'smoothScroll')}">Bewerbung
								</f:link.page>
							</li>
							<li>
								<f:link.page pageUid="{pidHomepage}" section="teilnahme" title=""
									additionalAttributes="{v:variable.get(name: 'smoothScroll')}">Teilnahme
								</f:link.page>
							</li>
							<li>
								<f:link.page pageUid="{pidHomepage}" section="termine" title=""
									additionalAttributes="{v:variable.get(name: 'smoothScroll')}">Termine</f:link.page>
							</li>
							<li>
								<f:link.page pageUid="{pidHomepage}" section="anmeldung" title=""
									additionalAttributes="{v:variable.get(name: 'smoothScroll')}">Anmeldung
								</f:link.page>
							</li>
							<f:cObject typoscriptObjectPath="lib.navigation_main">
								<li><a href="#">Kinderbühne</a></li>
								<li>
									<a href="#">Themen</a>
									<ul class="menu vertical nested">
										<li><a href="#">One</a></li>
										<li><a href="#">Two</a></li>
										<li><a href="#">Three</a></li>
									</ul>
								</li>
								<li><a href="#">Bewerbung</a></li>
								<li><a href="#">Teilnahme</a></li>
								<li><a href="#">Termine</a></li>
								<li><a href="#">Anmeldung</a></li>
							</f:cObject>
							<li class="social facebook">
								<a href="{mainSocialProfileFacebook}" class="social" target="_blank"><i
										class="fab fa-facebook" aria-hidden="true"></i> <span
										class="show-for-sr">Facebook</span></a>
							</li>
							<li class="social youtube">
								<a href="{mainSocialProfileYouTube}" class="social" target="_blank"><i
										class="fab fa-youtube" aria-hidden="true"></i> <span
										class="show-for-sr">YouTube</span></a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<!--TYPO3SEARCH_begin-->
	<f:render section="PageContent" />
	<!--TYPO3SEARCH_end-->

	<footer id="mainFooter" class="row columns noPad pageFooter">
		<div class="row columns social">
			<ul class="text-center">
				<li>
					<a href="{mainSocialProfileYouTube}" target="_blank"><i class="fab fa-youtube"
							aria-hidden="true"></i> <span>YouTube</span></a>
				</li>
				<li>
					<a href="{mainSocialProfileFacebook}" target="_blank"><i class="fab fa-facebook"
							aria-hidden="true"></i> <span>Facebook</span></a>
				</li>
				<li>
					<a href="mailto:info@kibuha.de?subject=Anfrage Kinderbühne Halle"><i class="far fa-envelope"
							aria-hidden="true"></i> <span>E-Mail</span></a>
				</li>
			</ul>
			<div class="row pad">
				<div class="columns small-12 medium-4">
					<f:image src="{publicPath}Images/theater_logo.png" alt="Buehnen Halle Logo" />
					<p>
						Cristin Wenig<br>
						Kinderstadt 2020<br>
						Projektleiterin Kinderstadt<br>
						Tel.: 0160 7 90 20 09<br>
						wenig@kinderstadt-halle.de<br>
						<br>
						Sylvia Werner<br>
						Theaterpädagogik/ Kunstvermittlung der Bühnen Halle<br>
						Universitätsring 24<br>
						06108 Halle / S.<br>
						Deutschland<br>
						Tel.: 0345 5 11 05 44<br>
						Mob.: 0176 65 68 79 64<br>
						Sylvia.Werner@buehnen-halle.de<br>
						<br>
						Emma Kaufmann<br>
						Zusammenführung der Bewerber / Betreuung der Wettbewerbsseite<br>
						theaterpaedagogik@buehnen-halle.de<br>
						<br>
						Frauke Kuhfuss<br>
						Tel.: 03 45 511 05 31<br>
						Frauke.kuhfuss@buehnen-halle.de<br>
					</p>


				</div>
				<div class="columns small-12 medium-4">
					<f:image src="{publicPath}Images/bwg-halle-merseburg-logo.svg" alt="BWG Halle Logo" />
					<p>
						BWG Halle-Merseburg e. G.<br>
						Stefan-Clemens Lallecke<br>
						Stabsstelle Vorstand / MA Öffentlichkeitsarbeit<br>
						<br>
						Geschäftsstelle<br>
						Hallorenring 8<br>
						06108 Halle (Saale)<br>
						Tel: (0345) 6 93 04 03<br>
						Mob.: 0152 53 97 49 83<br>
						lallecke@hallebwg.de<br>
						<br>
						Paul Körnig<br>
						Studentischer Mitarbeiter<br>
						Tel.: (0345) 6 93 03 56<br>
						Mob.: 0159 06 27 05 78<br>
						koernig@hallebwg.de<br>
					</p>
				</div>
				<div class="columns small-12 medium-4">
					<f:image src="{publicPath}Images/swh.png" alt="SWH Halle Logo" />
					<p>
						Stadtwerke Halle GmbH<br>
						Bärbel Uhlenhaut<br>
						Stadtwerkekommunikation / Referentin Schulkommunikation<br>
						<br>
						Bornknechtstraße 5<br>
						06108 Halle (Saale)<br>
						Tel.: 0345 5 81 20 08<br>
						Mob.: 01 51 4 22 55 81 40<br>
						baerbel.uhlenhaut@stadtwerke-halle.de<br>
					</p>
					<a href="https://www.hallebwg.de/index.php?id=114" target="_blank"> <span>Impressum</span></a>
					<a href="https://www.hallebwg.de/index.php?id=73" target="_blank"> <span>Datenschutz</span></a>
				</div>
			</div>
	</footer>

</div>

</html>