<html xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
			xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
	<div id="c{data.uid}"
			 class="row columns frame frame-{data.frame_class} frame-type-{data.CType} frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')} slick-container">
		<f:if condition="{v:variable.typoscript(path: 'plugin.tx_slickcarousel.slick_progressbar_expert')}">
			<f:if condition="{data.pi_flexform.autoplay}">
				<div id="loader-slick-id{data.uid}"></div>
			</f:if>
		</f:if>
		<div class="slick-slider slick-default" id="slick-id{data.uid}">
			<f:if condition="{data.pi_flexform.randomSlide} == 'vhs'">
				<v:iterator.sort subject="{slickimages}" as="slickimages" order="RAND"/>
			</f:if>
			<f:for each="{slickimages}" as="file" iteration="i">
				<div class="slick-item">
					<figure>
						<f:if condition="{file.originalFile.properties.caption}">
							<f:then>
								<div class="overlay">
								<f:link.external uri="{file.originalFile.properties.caption}" title="zum Video" target="_blank" class="youtube">
								<img class="slick-img" data-lazy="{f:uri.image(image: file, maxWidth: 800)}" title="{file.title}"
										 alt="{file.alternative}"/>
								</f:link.external>
									<a href="{file.originalFile.properties.caption}" title="zum Video" target="_blank" class="playWrapper"></a>
								</div>
							</f:then>
							<f:else>
								<div class="slickLargeImage">
									<a href="{f:uri.image(image:file, width:1024)}" title="{file.title}" class="magnificpopup" rel="magnificpopup[{file.uid}]">
										<img class="slick-img" data-lazy="{f:uri.image(image: file, maxWidth: 800)}" title="{file.title}" alt="{file.alternative}"/>
									</a>
								</div>
							</f:else>
						</f:if>
						<f:if condition="{file.description}">
							<figcaption>{file.description -> f:format.nl2br()}</figcaption>
						</f:if>
					</figure>
				</div>
			</f:for>
		</div>
	</div>
	<f:render partial="AssetAll" section="JS-Responsive" arguments="{_all}"/>
	<f:if condition="{v:variable.typoscript(path: 'plugin.tx_slickcarousel.slick_progressbar_expert')}">
		<f:if condition="{data.pi_flexform.autoplay}">
			<f:render partial="ProgressBar" section="ProgressBar" arguments="{_all}"/>
		</f:if>
	</f:if>
</f:section>

</html>
