<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="Default" />

	<f:section name="Main">
		<div class="slick-container">
			<v:variable.set name="slick-synced" value="true" />
			<f:if condition="{data.pi_flexform.randomSlide} == 'vhs'">
				<v:iterator.sort subject="{slickimages}" as="slickimages" order="RAND" />
			</f:if>
			<f:if condition="{v:variable.typoscript(path: 'plugin.tx_slickcarousel.slick_progressbar_synced')}">
				<f:if condition="{data.pi_flexform.autoplay}">
					<div id="loader-slick-id{data.uid}"></div>
				</f:if>
			</f:if>
			<div class="slick-slider slick-default" id="slick-id{data.uid}-main">
				<f:for each="{slickimages}" as="file" iteration="i">
					<div class="slick-item">
						<figure class="slickLargeImage">
							<a href="{f:uri.image(image:file, width:1024)}" title="{file.title}" class="magnificpopup" rel="magnificpopup[{file.uid}]"><img class="slick-img" data-lazy="{f:uri.image(image: file, maxWidth: 1024)}" title="{file.title}" alt="{file.alternative}" /></a>
							<f:if condition="{file.description}">
								<figcaption>{file.description}</figcaption>
							</f:if>
						</figure>
					</div>
				</f:for>
			</div>
			<div class="slick-slider slick-default" id="slick-id{data.uid}-nav">
				<f:for each="{slickimages}" as="file" iteration="i">
					<div class="slick-item">
						<figure>
							<f:image image="{file}" cropVariant="thumbnails" class="slick-img" maxWidth="300" />
						</figure>
					</div>
				</f:for>
			</div>
		</div>
		<f:render partial="AssetSync" section="Sync" arguments="{_all}" />
		<f:if condition="{v:variable.typoscript(path: 'plugin.tx_slickcarousel.slick_progressbar_synced')}">
			<f:if condition="{data.pi_flexform.autoplay}">
				<f:render partial="ProgressBar" section="ProgressBar" arguments="{_all}" />
			</f:if>
		</f:if>
	</f:section>

</html>
