<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <div id="{f:if(condition: '{data.tx_bwkinderbuehnebase_anchor}', then: '{data.tx_bwkinderbuehnebase_anchor}', else: 'c{data.uid}')}" class="row frame frame-{data.frame_class} frame-type-{data.CType} frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')} offer rooms{data.header -> f:format.crop(maxCharacters:'1', append:'')} size{data.flexform_size -> f:format.number(decimals:'0') -> f:format.crop(maxCharacters:'1', append:'0')}">
        <f:render section="Main" optional="true" />
    </div>
</f:spaceless>
</html>
