{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="Mail" />

Render Powermail Mail to Sender
{powermail_rte}									Variable is filled with values from RTE in backend
{powermail_all}									Outputs all fields
{marker1}, {firstname}, etc.. 					Outputs a field
{label_marker1}, {label_firstname}, etc... 		Outputs a label to a field
{mail}											Complete Mail Object
{email}											Email Configuration
{settings}										TypoScript Settings
NOTE: See example section after main section

<f:section name="main">
	<vh:Misc.Variables mail="{mail}" type="mail" function="sender">
		<f:format.html parseFuncTSPath="lib.parseFunc_powermail">{powermail_rte}</f:format.html>
	</vh:Misc.Variables>

	<p>Mit freundlichen Grüßen,</p>
	<f:if condition="{vendor} == 'prs'">
		<f:then>
			<p><img src="https://parkviertel-halle.de/fileadmin/parkviertel/pics/paul-riebeck-stiftung-logo.svg" height="100" alt="Logo der Paul-Riebeck-Stiftung"></p>
			<p>
				<b>Paul-Riebeck-Stiftung zu Halle an der Saale</b><br>
				Ansprechpartner Vermietung: Bettina Grimmer<br>
				Telefon: (0345) 27 98 50 78<br>
				E-Mail: grimmer@paul-riebeck-stiftung.de
			</p>
		</f:then>
		<f:else>
			<f:if condition="{vendor} == 'bwg'">
				<f:then>
					<p><img src="https://parkviertel-halle.de/fileadmin/parkviertel/pics/bwg-halle-merseburg-logo.svg" height="100" alt="Logo der BWG Halle-Merseburg"></p>
					<p>
						<b>BWG Servicezentrum Halle-Rosengarten</b><br>
						Ansprechpartner Vermietung: Frau Mattekowitsch<br>
						Telefon: (0345) 25 19 27 88<br>
						E-Mail: mattekowitsch@hallebwg.de
					</p>
				</f:then>
				<f:else>
					<p><img src="https://parkviertel-halle.de/fileadmin/parkviertel/pics/bwg-halle-merseburg-logo.svg" height="100" alt="Logo der BWG Halle-Merseburg"></p>
					<p>
						<b>BWG Servicezentrum Halle-Rosengarten</b><br>
						Ansprechpartner Vermietung: Frau Mattekowitsch<br>
						Telefon: (0345) 25 19 27 88<br>
						E-Mail: mattekowitsch@hallebwg.de
					</p>
					<br><br>
					<p><img src="https://parkviertel-halle.de/fileadmin/parkviertel/pics/paul-riebeck-stiftung-logo.svg" height="100" alt="Logo der Paul-Riebeck-Stiftung"></p>
					<p>
						<b>Paul-Riebeck-Stiftung zu Halle an der Saale</b><br>
						Ansprechpartner Vermietung: Bettina Grimmer<br>
						Telefon: (0345) 27 98 50 78<br>
						E-Mail: grimmer@paul-riebeck-stiftung.de
					</p>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
		<p>
			Web: https://parkviertel-halle.de
		</p>

		<f:render partial="Mail/DisclaimerLink" arguments="{_all}" />
</f:section>






THIS IS ONLY AN EXAMPLE SECTION

<f:section name="example">

	1. Get values from RTE from Backend:
	<vh:Misc.Variables mail="{mail}" type="mail" function="sender">
		<f:format.html parseFuncTSPath="lib.parseFunc_powermail">{powermail_rte}</f:format.html>
	</vh:Misc.Variables>


	2. Get all Values by using powermail_all
	<vh:string.escapeLabels>
		{powermail_all}
	</vh:string.escapeLabels>

	3. Get some lonely fields
	Hi {firstname} {lastname}, this is a test...

</f:section>
