<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
		 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
		 xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
		 data-namespace-typo3-fluid="true">

	<f:section name="Sync">
		<script>

			$(document).ready(function () {
				$('<f:format.raw>#slick-id{data.uid}-main</f:format.raw>').slick({
					slidesToShow: 1,
					slidesToScroll: 1,
					arrows: false,
					fade: true,
					lazyLoad: '<f:format.raw>{data.pi_flexform.lazyLoad}</f:format.raw>',
					asNavFor: '<f:format.raw>#slick-id{data.uid}-nav</f:format.raw>'
				});
				$('<f:format.raw>#slick-id{data.uid}-nav</f:format.raw>').slick({
					dots:<f:format.raw>{f:if(then: 'true', else: 'false', condition: data.pi_flexform.dots)}</f:format.raw>,
					slidesToShow:{data.pi_flexform.slidesToShow},
					slidesToScroll:{data.pi_flexform.slidesToScroll},
					swipe:<f:format.raw>{f:if(then: 'true', else: 'false', condition: data.pi_flexform.swipe)}</f:format.raw>,
					swipeToSlide:<f:format.raw>{f:if(then: 'true', else: 'false', condition: data.pi_flexform.swipeToSlide)}</f:format.raw>,
					touchMove:<f:format.raw>{f:if(then: 'true', else: 'false', condition: data.pi_flexform.touchMove)}</f:format.raw>,
					asNavFor: '<f:format.raw>#slick-id{data.uid}-main</f:format.raw>',
					centerMode:<f:format.raw>{f:if(then: 'true', else: 'false', condition: data.pi_flexform.centerMode)}</f:format.raw>,
					centerPadding: '<f:format.raw>{data.pi_flexform.centerPadding}</f:format.raw>',
					focusOnSelect: true,
					touchThreshold: 25,
					autoplay:<f:format.raw>{f:if(then: 'true', else: 'false', condition: data.pi_flexform.autoplay)}</f:format.raw>,
					autoplaySpeed:{data.pi_flexform.autoplaySpeed},
					draggable:<f:format.raw>{f:if(then: 'true', else: 'false', condition: data.pi_flexform.draggable)}</f:format.raw>,
					infinite:<f:format.raw>{f:if(then: 'true', else: 'false', condition: data.pi_flexform.infinite)}</f:format.raw>,
					lazyLoad: '<f:format.raw>{data.pi_flexform.lazyLoad}</f:format.raw>',
					waitForAnimate:<f:format.raw>{f:if(then: 'true', else: 'false', condition: data.pi_flexform.waitForAnimate)}</f:format.raw>
				});
			});


		</script>
	</f:section>
</div>
