<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="ContentElement"/>

<f:section name="Content">

	<ul>
		<li>
				<f:image src="{publicPath}Images/bwg-halle-merseburg-logo.svg" alt="Logo: BWG Halle-Merseburg" height="120" />
				<p>
					Genossenschaftlich Wohnen heißt Fürsorge und Zusammenhalt: BWG setzt auf sichere, sozial verantwortbare Wohnungsversorgung.
				</p>
				<f:link.page pageUid="105" class="button">Wohnungsangebote</f:link.page>
		</li>
		<li>
			<f:image src="{publicPath}Images/paul-riebeck-stiftung-logo.svg" alt="Logo: Paul Riebeck-Stiftung" height="120" />
			<p>
				Altersgerecht und gut versorgt in Gemeinschaft leben: Die Wohnungen der Paul-Riebeck-Stiftung haben das gewisse Etwas.
			</p>
			<f:link.page pageUid="106" class="button">Wohnungsangebote</f:link.page>
		</li>
	</ul>

</f:section>

</html>
