<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="ContentElement"/>

<f:section name="Content">

	<ul>
		<li>
			<f:link.page pageUid="99"><f:image src="{publicPath}Images/parkviertel-halle-logo-servicepunkt.svg" alt="Parkviertel: Servicepunkt" /></f:link.page>
		</li>
		<li>
			<f:link.page pageUid="100"><f:image src="{publicPath}Images/parkviertel-halle-logo-pflege.svg" alt="Parkviertel: Pflege" /></f:link.page>
		</li>
		<li>
			<f:link.page pageUid="101"><f:image src="{publicPath}Images/parkviertel-halle-logo-mobilitaet.svg" alt="Parkviertel: Mobilität" /></f:link.page>
		</li>
		<li>
			<f:link.page pageUid="102"><f:image src="{publicPath}Images/parkviertel-halle-logo-gesundheit.svg" alt="Parkviertel: Gesundheit" /></f:link.page>
		</li>
		<li>
			<f:link.page pageUid="103"><f:image src="{publicPath}Images/parkviertel-halle-logo-nachbarschaft.svg" alt="Parkviertel: Nachbarschaft" /></f:link.page>
		</li>
		<li>
			<f:link.page pageUid="104"><f:image src="{publicPath}Images/parkviertel-halle-logo-leben.svg" alt="Parkviertel: Leben" /></f:link.page>
		</li>
	</ul>

</f:section>

</html>
